.icon-button {
  height: 16px;
  width: 16px;
  /*padding: 8px;*/
  border: none;
  outline: 0;
}

.icon-button + .icon-button {
  margin-left: 15px;
}

.arrow__container {
  display: inline-flex;
}

.arrow-left {
  background: url('/images_transparent/arrow-left.svg') no-repeat center center;
}

.arrow-left__active {
  background: url('/images_transparent/arrow-left__active.svg') no-repeat center center;
  cursor: pointer;
}

.arrow-right {
  background: url('/images_transparent/arrow-left.svg') no-repeat center center;
  transform: scale(-1, 1);
}

.arrow-right__active {
  background: url('/images_transparent/arrow-left__active.svg') no-repeat center center;
  cursor: pointer;
}
.popup__actions input[type="radio"],
.radio-toolbar input[type="radio"] {
  display: none;
}
.popup__actions label,
.radio-toolbar label {
  display: inline-block;
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 7px 15px 8px;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 10px
}

.popup__actions label {
  background-color: #F2F1F0;
}

.popup__actions input[type="radio"]:checked+label,
.radio-toolbar input[type="radio"]:checked+label {
  background-color: #FFD93E;
}

.button {
  border-radius: 20px;
  height: 60px;
  background-color: white;
  outline: 0;
  border: none;
  padding: 20px;
  flex: 1 1 0;
}

.button_accent {
  background-color: #FFD93E;
}


@media (max-width: 710px) {
  .icon-button {
    display: none;
  }


  .button {
    width: 100%;
    flex-basis: auto;
  }
}

