g {
  display: block !important;
}

#container {
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.sliderContainer {

}

.progress {
  /*width: 100%;*/
  /*height: 100%;*/
  position: relative;
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: var(--color-black);
  opacity: 0.7;
}

.progress__value {
  stroke: #F5A623;
  opacity: 0.7;
  z-index: -100;
  transform-origin: 50% 50%;
}

.progress__mask {
  stroke: var(--color-white);
  opacity: 1;
  z-index: 100;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  z-index: 128;
}

.dial {
  cursor: pointer;
  height: 8px;
  width: 12px;
  margin-left: -7px;
  position: absolute;
  top: -5px;
  z-index: 124;
  background: url('/images/icon_arrow.svg') no-repeat left top;
}

.bottom__mask {
  fill: none;
  transform-origin: 50% 50% 0;
  stroke: var(--color-white);
}

/*input {*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*width: 100%;*/
  /*z-index: -1;*/
  /*opacity: 0;*/
/*}*/

.price {
  align-self: center;
  justify-self: center;
  display: block;
  /* grid-area: price; */
}

.price .pricing {
  color: black;
  font-size: 3.5rem;
}

.price .box {
  width: 20px;
  height: 15px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 25px;
}

.price .text {
  color: black;
}

@media screen and (max-width: 768px) {

  #container {
  grid-template-columns: 1fr;
  /* grid-template-areas:
  "sliderContainer"
  "price"; */
  }

  .sliderContainer {
  justify-self: center;
  }

}
