.main {
  background: url('/images/bg@2x.png') no-repeat center center;
  background-size: 630px 330px;
  width: 100%;
  height: 330px;
  max-width: 630px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 26px 20px 0 26px;
  justify-content: space-between;
}

.main__title {
  display: inline-block;
}

.left-col {
  flex: 1 1 auto;
  margin-right: 10px;
}

.right-col {
  margin-left: 10px;
  max-width: 630px;
  flex: 1 1 auto;
}

.section__head {
  display: inline-block;
  margin: 30px 0 20px;
}

.row {
  display: flex;
}

.row_center-content {
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.section__head.row {
  justify-content: space-between;
}

.section__title {
  white-space: nowrap;
  margin-right: 13px;
}

.scrolling-wrapper__vertical {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: -26px;
  /*margin: -20px 0;*/
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /*margin: 0 -40px;*/
}

.scrolling-wrapper__vertical::-webkit-scrollbar,
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.space__horizontal {
  min-width: 40px;
}

.weather {
  margin-top: 26px;
  margin-bottom: 20px;
}

.group {
  min-width: 632px;
  min-height: 332px;
}

.group + .group {
  margin-left: 15px;
}

#scenarios {
  margin-right: -40px;
}

#devices {
  margin-right: -40px;
  margin-left: -40px;
}

@media (max-width: 710px) {
  .main {
    height: 282px;
    padding: 20px;
  }

  .main__title {
    font-size: 18px;
    line-height: 21px;
  }

  .main__text {
    font-size: 12px;
    line-height: 14px;
  }

  .weather {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .weather__text {
    font-size: 24px;
    line-height: 28px;
  }

  .scrolling-wrapper__vertical {
    flex-direction: row;
    overflow-x: auto;
    margin: 0 -20px;
  }

  .row.turn {
    flex-direction: column;
  }

  .col.turn {
    flex-direction: row;
  }

  .content .col + .col {
    margin-left: 0;
  }

  .left-col {
    flex-basis: auto;
    margin-right: 0;
  }

  .left-col .section__head {
    display: none;
  }

  .group {
    display: inline-flex;
    min-width: auto;
    min-height: auto;
  }
}

