.slide-container {
  position: relative;
  max-width: 580px;
  height: 60px;
}

.slider {
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: inherit;
  border: none;
  border-radius: 30px;
  outline: 0;
  background: var(--gradient-orange);
  margin: 0;
  padding: 0;
}

.slider__degree {
  background: var(--gradient-blue-to-orange);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 4px solid var(--color-white);
  box-shadow: inset 0 0 0 3px var(--color-thumb-shadow);
  width: 68px;
  height: 68px;
  cursor: pointer;
  z-index: 3;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 4px solid var(--color-white);
  box-shadow: inset 0 0 0 3px var(--color-thumb-shadow);
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 3;
  background: transparent;
}

.slider::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 4px solid var(--color-white);
  box-shadow: inset 0 0 0 3px var(--color-thumb-shadow);
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 3;
  background: transparent;
}

input[type=range]::-moz-range-track {
  background-color: transparent;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

.slide-container__text_start,
.slide-container__text_end {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: inherit;
  width: 70px;
  color: var(--color-white);
  pointer-events: none;
}

.slide-container__text_start {
  left: 0;
}

.slide-container__text_end {
  right: 0;
}

@media (--less-than-720-viewport) {
  .slide-container {
    min-height: 336px;
    display: flex;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    flex: 1;
  }

  .slider {
    align-self: center;
  }

  .slide-container__text_end,
  .slide-container__text_start {
    transform: rotate(90deg);
    align-self: center;
  }
}
